In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [3]:
automobile = pd.read_csv('datasets/CarPrice_Assignment.csv')
automobile.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
automobile.shape

(205, 26)

In [5]:
automobile.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [6]:
automobile.drop(['car_ID', 'symboling', 'CarName'], axis=1, inplace=True)

In [7]:
automobile = pd.get_dummies(automobile)
automobile.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,1,0,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,1,0,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,1,0,0

In [8]:
automobile.shape

(205, 52)

In [9]:
x = automobile.drop(['price'], axis=1)
y = automobile['price']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [11]:
model = LinearRegression().fit(x_train, y_train)
print('Training Score :', model.score(x_train, y_train))

Training Score : 0.9419405251019156

In [12]:
y_pred = model.predict(x_test)
y_pred

array([13702.70254354, 15016.76100714,  6129.40288183, 11787.08116812,
        5495.88216812, 15408.00754957,  6096.82450474,  6009.97078635,
       19853.8571403 , 10891.35370666,  8597.97935698, 24252.68010831,
        6318.23757026,  6278.89441243, 10945.53021476,  7876.83310714,
       26382.40764937,  7084.90669705, 10179.10117557,  7621.1447717 ,
       11348.96419719, 28444.07360956,  7879.02188859,  7434.07165986,
       14338.5655889 , 31747.63481994, 12735.96742208, 13538.81014803,
       15576.00182992, 10962.61577943, 17524.87162594, 10890.80196955,
       20356.40598296, 31228.5193458 , 13868.42593862, 17473.05208581,
       13193.90061289,  8307.91220538,  9630.71912054, 10009.72923645,
       39384.78977778])

In [13]:
print('Testing Score :', r2_score(y_test, y_pred))

Testing Score : 0.8899382367983918

In [14]:
import json

model.coef_

array([ 1.17934931e+01,  1.19758026e+01,  5.80499534e+02,  1.45270562e+02,
        3.61303117e+00,  1.49414385e+02, -3.77549069e+03, -6.58797906e+03,
       -9.46928798e+02, -1.00486792e+01,  2.90529173e+00, -9.93343502e+01,
        1.62014431e+02,  4.61152015e+03, -4.61152015e+03, -1.51130688e+03,
        1.51130688e+03, -1.66155051e+02,  1.66155051e+02,  3.64387408e+03,
       -1.10987298e+03, -8.57751346e+02, -2.60350605e+02, -1.41589915e+03,
       -5.22716387e+02,  7.93127109e+00,  5.14785116e+02, -3.70086339e+03,
        3.70086339e+03, -3.27861823e+02,  2.84217094e-13, -1.81232615e+03,
        3.75193813e+03,  1.80582563e+03, -6.05061210e+03,  2.63303632e+03,
        3.10991648e+03, -4.14550329e+03, -3.32128194e+03, -2.65529218e+02,
        7.60990913e+03, -5.62054749e+03,  2.63303632e+03,  5.65802788e+01,
       -1.53339258e+02,  2.63303632e+03,  4.61152015e+03, -3.33887691e+03,
       -1.23678505e+00, -3.80768379e+03,  0.00000000e+00])

In [15]:
model.intercept_

-28249.82604702619

In [21]:
model_param = {}
model_param['coef'] = list(model.coef_)
model_param['intercept'] = model.intercept_.tolist()
model_param

{'coef': [11.793493055465301,
  11.975802637475642,
  580.4995339479731,
  145.27056212126408,
  3.613031168868744,
  149.4143849759574,
  -3775.490687079031,
  -6587.979062441339,
  -946.92879784577,
  -10.048679235212726,
  2.9052917300049854,
  -99.33435020163031,
  162.01443123753447,
  4611.520153781529,
  -4611.520153781537,
  -1511.306882376983,
  1511.306882376978,
  -166.15505051438302,
  166.15505051439737,
  3643.874075773035,
  -1109.8729766310023,
  -857.7513464751253,
  -260.35060494927717,
  -1415.89914771756,
  -522.716387209564,
  7.931271092349411,
  514.7851161171783,
  -3700.8633923662096,
  3700.863392366191,
  -327.8618232384479,
  2.8421709430404007e-13,
  -1812.3261549417634,
  3751.938134457618,
  1805.8256334547852,
  -6050.612104863144,
  2633.0363151309757,
  3109.9164849603485,
  -4145.503291770351,
  -3321.281936054522,
  -265.52921750337333,
  7609.90913302269,
  -5620.547487785774,
  2633.036315130978,
  56.580278766341664,
  -153.33925835257426,
  2633.036315130978,
  4611.520153781536,
  -3338.8769096078654,
  -1.2367850527185462,
  -3807.6837946656083,
  0.0],
 'intercept': -28249.82604702619}

In [22]:
json_text = json.dumps(model_param, indent=4)
json_text

'{\n    "coef": [\n        11.793493055465301,\n        11.975802637475642,\n        580.4995339479731,\n        145.27056212126408,\n        3.613031168868744,\n        149.4143849759574,\n        -3775.490687079031,\n        -6587.979062441339,\n        -946.92879784577,\n        -10.048679235212726,\n        2.9052917300049854,\n        -99.33435020163031,\n        162.01443123753447,\n        4611.520153781529,\n        -4611.520153781537,\n        -1511.306882376983,\n        1511.306882376978,\n        -166.15505051438302,\n        166.15505051439737,\n        3643.874075773035,\n        -1109.8729766310023,\n        -857.7513464751253,\n        -260.35060494927717,\n        -1415.89914771756,\n        -522.716387209564,\n        7.931271092349411,\n        514.7851161171783,\n        -3700.8633923662096,\n        3700.863392366191,\n        -327.8618232384479,\n        2.8421709430404007e-13,\n        -1812.3261549417634,\n        3751.938134457618,\n        1805.8256334547852,\n        -6050.612104863144,\n        2633.0363151309757,\n        3109.9164849603485,\n        -4145.503291770351,\n        -3321.281936054522,\n        -265.52921750337333,\n        7609.90913302269,\n        -5620.547487785774,\n        2633.036315130978,\n        56.580278766341664,\n        -153.33925835257426,\n        2633.036315130978,\n        4611.520153781536,\n        -3338.8769096078654,\n        -1.2367850527185462,\n        -3807.6837946656083,\n        0.0\n    ],\n    "intercept": -28249.82604702619\n}'

In [23]:
with open('models/regressor_param.txt', 'w') as file:
    file.write(json_text)

In [24]:
with open('models/regressor_param.txt', 'r') as file:
    json_text = json.load(file)
json_text

{'coef': [11.793493055465301,
  11.975802637475642,
  580.4995339479731,
  145.27056212126408,
  3.613031168868744,
  149.4143849759574,
  -3775.490687079031,
  -6587.979062441339,
  -946.92879784577,
  -10.048679235212726,
  2.9052917300049854,
  -99.33435020163031,
  162.01443123753447,
  4611.520153781529,
  -4611.520153781537,
  -1511.306882376983,
  1511.306882376978,
  -166.15505051438302,
  166.15505051439737,
  3643.874075773035,
  -1109.8729766310023,
  -857.7513464751253,
  -260.35060494927717,
  -1415.89914771756,
  -522.716387209564,
  7.931271092349411,
  514.7851161171783,
  -3700.8633923662096,
  3700.863392366191,
  -327.8618232384479,
  2.8421709430404007e-13,
  -1812.3261549417634,
  3751.938134457618,
  1805.8256334547852,
  -6050.612104863144,
  2633.0363151309757,
  3109.9164849603485,
  -4145.503291770351,
  -3321.281936054522,
  -265.52921750337333,
  7609.90913302269,
  -5620.547487785774,
  2633.036315130978,
  56.580278766341664,
  -153.33925835257426,
  2633.036315130978,
  4611.520153781536,
  -3338.8769096078654,
  -1.2367850527185462,
  -3807.6837946656083,
  0.0],
 'intercept': -28249.82604702619}

In [25]:
json_model = LinearRegression()

In [26]:
json_model.coef_ = np.array(json_text['coef'])
json_model.intercept_ = np.array(json_text['intercept'])

In [27]:
y_pred = json_model.predict(x_test)
print('Json Testing Score :', r2_score(y_test, y_pred))

Json Testing Score : 0.8899382367983918

In [61]:
# Pickle

import pickle

In [64]:
pickle.dump(model, open('models/model.pkl', 'wb'))

In [65]:
pickle_model = pickle.load(open('models/model.pkl', 'rb'))
y_pred = pickle_model.predict(x_test)
print('Pickle Testing Score: ', r2_score(y_test, y_pred))

Pickle Testing Score:  0.8899382367983918

In [56]:
import joblib

In [57]:
joblib.dump(model, 'models/model.joblib')

['models/model.joblib']

In [60]:
joblib_model = joblib.load('models/model.joblib')
y_pred = joblib_model.predict(x_test)
print('Joblib Testing Score: ', r2_score(y_test, y_pred))

 Joblib Testing Score:  0.8899382367983918